.text-block{
    width: 100%;
    padding: 20px 83px;
    box-sizing: border-box;
    text-align: center;
    line-height: 19px;

    h2{
        color: #006EB0;
        font-weight: 400;
    }

    p{
        color: #888;
    }
}