.service-card{
    width: 341px;
    height: 352px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    img{
        align-self: center;
        margin-top: 24px;
        width: 128px;
        height: 128px;
    }
    p{  text-align: center;
        font-style: italic;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 50px;
    }

    h3{
        font-weight: 700;
        font-size: 24px;

    }
}