.preservice{
    width: 100%;
    padding: 0 75px;
    // background-image: url(image/Asset-1100.png);
    background-repeat: no-repeat;
    background-position: center right 70px;
    min-height: 443px;
    box-sizing: border-box;

        #text{
            margin-top: 130px;
            padding: 0;
            width: 664px;
            font-weight: 300;
        }

}